{% extends 'base.html' %}


{% block content %}

    <div class="col-3">

        {% if product.image %}
            <img src="{{ product.image.url }}" alt="imagen del producto" width="200">
        {% endif %}
    </div>

    <div class="col">
        <div class="h2">{{ product.dia }} </div>
        <div class="h3"> {{ product.horarios }} </div>
        <div class="">
            <p> {{ product.turno }} </p>
        </div>
        <div class=""> 
            {% include 'carts/snippets/add.html' %}
        </div>
    </div>

{% endblock %}